{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>

    <!--CSS-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Philosopher"
    />
    <link rel="icon"  href="{% static 'ico/favicon.ico' %}">

    {% block head %}{% endblock %}
  </head>

  <body class="bg-gradient-to-r from-green-200 to-blue-200 min-h-screen">
    <header class="container mx-auto flex justify-between">
      <a href="{% url 'game:index' %}"><img class="my-3.5 h-20 w-80 ml-3.5" src="{% static 'icon.png' %}" alt="assoociation"></a>
      <nav>
        <ul class="flex uppercase my-3.5 mx-3.5">
          <li class="m-3.5">
            <div class="text-black-500 text-xl">
              {% if user.is_authenticated %}
                <p>{{ user.get_username }}でログイン中</p>
              {% else %}
                <p>ログインしていません</p>
              {% endif %}
            </div>
          </li>
          <li class="m-3.5">
            <a href="{% url 'account_login' %}" class="text-xl bg-blue-400 font-semibold text-white text-center w-fit py-2 px-4 rounded hover:bg-blue-500">ログアウト</a>
          </li>
        </ul>
      </nav>
    </header>

    <!--headerとの境界線-->
    <p class="border-solid border-2 border-b-slate-800"></p>

    {% block contents %}{% endblock %}

  </body>
</html>
