{% extends 'base.html' %}
{% load static %}

{% block title %}ゲーム中{% endblock %}

{% block contents %}

<script>
  var left_questions = {{left_questions | safe }};  // 残りの質問数
  var queue = [];  // ユーザーが選択した刺激語の順序を格納
  const url_results = {% url 'game:results' %};  // 結果画面に遷移するためのurlもここで定義
  var startTime = new Date();

  function clearCheckboxes(event) {
    const checkboxes = document.getElementsByName("stimulus");
    for (let i = 0; i < checkboxes.length; i++) {
      // チェックされているボックスに対して、チェックを外し、クラス名を付け替えて、数字を除去する
      if (checkboxes[i].checked){
        checkboxes[i].checked = false;
        var unchecked_checkbox_icon = document.getElementById("checkbox-icon-" + (i+1));
        unchecked_checkbox_icon.classList.remove("checkbox-icon-checked");
        unchecked_checkbox_icon.classList.add("checkbox-icon");
        unchecked_checkbox_icon.innerText = "";
      }
    }
    queue = [];
  }

  window.onbeforeunload = () => "本当に画面を離れてもよろしいですか？";

</script>

<div class="text-4xl text-center font-bold text-black mt-16 font-kosugi lg:mt-8">
  連想に役立った順に選択してください
</div>

<div class="flex  flex-row justify-end mt-3 mr-3">
  <button onclick="clearCheckboxes()" class="btn-clear right-2 text-2xl mr-3">選択解除</button>
</div>

<!-- 5つの刺激語をcheckbox形式で羅列している -->
<div class="grid gap-4 grid-cols-1 lg:grid-cols-3 m-3 place-items-center">
  <div class="checkbox-wrapper">
    <input id="stimulus-1" type="checkbox" value="stimulus-1" name="stimulus" class="hidden peer">
    <label id="label-stimulus-1" for="stimulus-1" name="label-stimulus" class="checkbox-label">
      <div class="checkbox-label-content">{{ stimuli.0 }}</div>
      <div id="checkbox-icon-1" class="checkbox-icon"></div>
    </label>
  </div>

  <div class="checkbox-wrapper">
    <input id="stimulus-2" type="checkbox" value="stimulus-2" name="stimulus" class="hidden peer">
    <label id="label-stimulus-2" for="stimulus-2" name="label-stimulus" class="checkbox-label">
      <div class="checkbox-label-content">{{ stimuli.1 }}</div>
      <div id="checkbox-icon-2" class="checkbox-icon"></div>
    </label>
  </div>

  <div class="checkbox-wrapper">
    <input id="stimulus-3" type="checkbox" value="stimulus-3" name="stimulus" class="hidden peer">
    <label id="label-stimulus-3" for="stimulus-3" name="label-stimulus" class="checkbox-label">
      <div class="checkbox-label-content">{{ stimuli.2 }}</div>
      <div id="checkbox-icon-3" class="checkbox-icon"></div>
    </label>
  </div>

  <div class="checkbox-wrapper">
    <input id="stimulus-4" type="checkbox" value="stimulus-4" name="stimulus" class="hidden peer">
    <label id="label-stimulus-4" for="stimulus-4" name="label-stimulus" class="checkbox-label">
      <div class="checkbox-label-content">{{ stimuli.3 }}</div>
      <div id="checkbox-icon-4" class="checkbox-icon"></div>
    </label>
  </div>

  <div class="checkbox-wrapper">
    <input id="stimulus-5" type="checkbox" value="stimulus-5" name="stimulus" class="hidden peer">
    <label id="label-stimulus-5" for="stimulus-5" name="label-stimulus" class="checkbox-label">
      <div class="checkbox-label-content">{{ stimuli.4 }}</div>
      <div id="checkbox-icon-5" class="checkbox-icon"></div>
    </label>
  </div>
</div>

<div class="mb-5 text-4xl font-kosugi font-bold text-black text-center mt-5">
  {{ q_sentence }}
</div>


<form id="answer-form" name="answer-form" class="w-full flex flex-row justify-center ml-20 mt-16 mb-6" method="POST">
  {% csrf_token %}
  <!-- {{ form.answer }} Django独自のform -->
  <input id="user-answer" type="text" name="user-answer" required="required" placeholder="解答を入力"
  class=" bg-gray-100 border border-gray-300 text-gray-900 text-3xl rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-fit p-2.5 placeholder-gray-400 ">
  <button id="submit-button" class="btn-blue ml-10 text-3xl" type="submit">解答</button>
</form>



<!--ゲーム中の処理を行うjsを読み込む-->
<script type="module" src="{% static 'js/fetch.js' %}"></script>
<script type="module" src="{% static 'js/checkbox_queue.js' %}"></script>


{% endblock %}
